body {
   display:flex;
   height: 90vh;
    justify-content: center;
    align-items: center;
    background-color:black;
    background:cover;

}

section {
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:400px;
  height:600px;
  background-image:url(fond_flappy.png);
  background: cover;

}
.bird {
  width: 50px;
}
#tuyau {
  position:absolute;
  background-image:url(pipe.png);
  width:60px;
  height:451px;
  top:-250px;
  right:0px;
  margin-right:-100px;

}

#randomizer {
  position:absolute;
  background-image:url(pipe.png);
  width:60px;
  height:451px;
  top:-250px;
  right:0px;
  margin-right:-100px;
}
